.jodit-status-bar {
  display: none !important;
}
.primary,
.bg-brimary,
.btn-primary {
  background-color: $theme_color !important;
  border-color: $theme_color !important;
}

.purchase_order_page {
  table thead tr th,
  table thead tr td,
  table tbody tr td {
    border: 0.5px solid #707070 !important;
  }
}

//layouts part
.ql-editor {
  padding: 15px 0 !important;
}
.ql-blank::before {
  left: 42px !important;
}

.mail_signature_block {
  p {
    margin: 0 0 0 0;
    font-size: 13px;

    img {
      width: 170px;
      margin: 10px 0;
    }
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.margin_0 {
  margin: 0 !important;
}

.tox-statusbar__branding {
  display: none !important;
}

.tox-edit-area {
  z-index: 5;
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}

// colors for identification
@media (max-width: 567px) {
  .table-responsive {
    overflow-x: auto !important;
  }
}

.zoomable {
  animation: blinker 1.5s linear infinite;
  color: $red;
  font-size: 1.5em;
}

.zoomable_onlist {
  animation: blinker 4000ms linear infinite;
  color: $white;
  font-size: 13px;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

.custom_input_for_login_page {
  border: none !important;
  font-size: 13px !important;
  color: $medium-gray !important;
  border-radius: 6px !important;
  border-bottom: 2px solid transparent !important;
  box-shadow: 0 2px 4px rgba(0, 0, 1, 0.2) !important;
  transition: box-shadow 0.3s ease !important;
}

.text-black {
  color: $black !important;
}

.ml-25 {
  margin-left: 25px;
}

.no_circle {
  height: auto !important;
  width: auto !important;
  background: none !important;
}

.border-danger {
  border-color: $red !important;
  border: 1px solid $red;
  border-radius: 3px;
}

.substore_dataTable {
  thead {
    tr {
      &.selected_border {
        border-left: 3px solid $red !important;
      }
      th {
        border: 1px solid rgba(186, 179, 179, 0.5) !important;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid rgba(186, 179, 179, 0.5) !important;
        &.selected_border {
          border-left: 3px solid $red !important;
        }
      }
    }
  }
}

.login_page_carousel {
  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }

  .carousel-indicators {
    // background-color: rgba(0, 0, 0, 0.1);

    button {
      height: 8px !important;
      width: 8px !important;
      border-radius: 50%;
      // margin-bottom: 8px;
    }
  }
}

.Pending {
  td {
    background-color: #ebf400 !important;
    color: $black !important;
  }
}

.Placed {
  td {
    background-color: rgb(188, 226, 131) !important;
    color: $black !important;
  }
}

.Confirmed {
  td {
    background-color: rgb(167, 238, 61) !important;
    color: $black !important;
  }
}

.Recommended {
  td {
    background-color: rgb(167, 238, 61) !important;
    color: $black !important;
  }
}

.Submitted {
  td {
    background-color: rgb(116, 185, 13) !important;
    color: $white !important;
  }
}

.Checked,
.Delivered {
  td {
    background-color: green !important;
    color: $white !important;
  }
}

.Partial {
  td {
    background-color: rgb(116, 185, 13) !important;
    color: $white !important;
  }
}

.Booked {
  td {
    background-color: green !important;
    color: $white !important;
  }
}

.Cost-Approved {
  td {
    background-color: rgb(125, 192, 192) !important;
    color: $black !important;
  }
}

.Finalized {
  td {
    background-color: rgb(7, 102, 211) !important;
    color: $white !important;
  }
}

.Approved {
  td {
    background-color: rgb(8, 59, 117) !important;
    color: $white !important;
  }
}

.Received {
  td {
    background-color: rgb(37, 117, 209) !important;
    color: $white !important;
  }
}

.BTB-Submitted {
  td {
    background-color: rgb(136, 3, 118) !important;
    color: $white !important;
  }
}

.Rejected,
.Cancelled {
  td {
    background-color: $red !important;
    color: $white !important;
  }
}

.tooltip {
  position: absolute;
  background-color: $red;
  color: $white;
  padding: 5px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.margin-10 {
  margin: 10px;
}

.form-control,
.form-select,
.datrange_filter {
  margin-bottom: 15px !important;
  // font-size: 14px !important;
}

.Import_booking_item_table {
  .form-control,
  .form-select {
    margin-bottom: 0 !important;
  }
}

.datrange_filter {
  font-size: 13px !important;

  .form-control,
  .form-select {
    font-size: 13px !important;
  }
}

.primary_input {
  width: 100%;
}

.my-slimselect .ss-single-selected {
  font-size: 16px;
  color: #333;
}

.width_100 {
  width: 100% !important;
}

@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1865px !important;
  }
}

.gap_10 {
  gap: 10px;
}

.pagination_area {
  .pagination {
    justify-content: center;

    .page-item {
      .current-page {
        background: #b0ddf0;
      }
    }
  }
}

sup {
  color: $red !important;
  font-size: 15px !important;
}

.employee_list {
  display: grid;
  grid-template-columns: 50% 50%;

  .all_employee {
    background: whitesmoke;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;

    li {
      padding: 5px 15px 5px;
      background: $white;
      float: left;
      margin: 5px;
      cursor: pointer;
      list-style: none;
      border-radius: 10px;

      label {
        margin-bottom: 0 !important;
      }
    }
  }

  .selected_employees {
    padding-left: 20px;

    li {
      list-style: none;
      float: left;
      padding: 0 10px;
      font-size: 14px;
      margin: 5px;
      background: #b0ddf0;

      label {
        margin-bottom: 0 !important;
      }
    }
  }
}

.publish_btn {
  min-width: 200px;
}

.margin_left_30 {
  margin-left: 30px;
}

.margin_left_15 {
  margin-left: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.errorMsg {
  color: $red;
  font-size: 12px;
  margin-bottom: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.card {
  &.login_card {
    max-width: 500px;
    padding: 20px;
  }

  background-color: $white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  margin: 20px auto;
}

.author {
  text-align: center;
  padding-top: 50px;

  img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px dashed orangered;

    &.company_logo {
      max-width: 150px;
      max-height: 150px;
    }
  }

  .title {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #333;
    padding-top: 20px;

    a {
      text-decoration: none;
      color: #333;
    }

    &.role {
      font-size: 13px;
      padding-top: 8px;
      padding-bottom: 50px;
    }
  }
}

.width_100 {
  width: 100%;
}

.margin_bottom_15 {
  margin-bottom: 15px;
}

ul {
  li {
    list-style: none;
  }
}

iframe {
  z-index: -1 !important;
}

.margin_bottom_0 {
  margin-bottom: 0 !important;
}

.padding_top_25 {
  padding-top: 25px !important;
}

body,
.body {
  font-family: "Helvetica Neue", sans-serif !important;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #efc174;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_auto {
  margin: 0 auto !important;
}

.margin_top_80 {
  margin-top: 80px;
}

a,
.clickable {
  cursor: pointer;
}

.clearfix {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

.margin_auto {
  margin: 0 auto;
}

.white {
  color: $white;
}

.weight_bold {
  font-weight: 600;
}

.activity_card {
  border-radius: 5px;
  border: 1px solid #bab3b3;
  padding-bottom: 15px;
  margin-bottom: 30px;

  .overview {
    padding: 29px 15px;

    li {
      margin-bottom: 10px;
    }
  }

  .timeline-header {
    font-size: 20px;
    border-bottom: 1px solid #bab3b3;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      svg {
        cursor: pointer;
        font-size: 20px;
      }
    }
  }

  .timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
    margin: 15px 15px 15px 30px;

    .fw-bold {
      font-size: 14px;
    }

    p {
      font-size: 13px;
    }

    .timeline-item {
      position: relative;

      &:after {
        position: absolute;
        display: block;
        top: 0;
        background-color: hsl(0, 0%, 90%);
        left: -38px;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        content: "";
      }
    }
  }
}

.details_announcement {
  ul li {
    list-style: disc;
  }

  p {
    $white-space: pre;
  }
}

.margin_10 {
  margin: 10px 0 10px !important;
}

.create_technical_pack {
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  margin: 1px;
  border-radius: 8px;
  .create_tp_header {
    .purchase_text {
      font-size: 20px;
    }
    .submit_button {
      width: 100%;
      // border-radius: 3px;
      color: $white;
      font-size: 16px;
      height: 36px;
      background: #f1a655;
      border: none;
    }

    input,
    .form-value {
      width: 100%;
      background: #ececec;
      border-radius: 4px;
      height: 21px;
      line-height: 21px;
      font-size: 12px;
      border: none;
      color: $black;
      padding: 0 5px;

      &:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
    .form-label {
      font-size: 11px;
      color: $black;
      width: 100%;
      &.fill {
        background: #ececec;
        border-radius: 4px;
        padding: 0 6px;
        height: 21px;
        line-height: 20px;
      }
    }
  }

  .create_tp_body {
    input,
    select,
    .form-value,
    textarea {
      width: 100%;
      background: #ececec;
      border-radius: 4px;
      // height: 21px;
      line-height: 21px;
      font-size: 12px;
      border: none;
      color: $black;
      padding: 0 5px;
      margin-bottom: 5px !important;

      &:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
    .form-label {
      font-size: 11px;
      color: $black;
      width: 100%;
      &.fill {
        background: #ececec;
        border-radius: 4px;
        padding: 0 6px;
        height: 21px;
        line-height: 20px;
      }
    }

    .photo_upload_area {
      .photo {
        margin-bottom: 10px;
        position: relative;
        height: 100px;
        width: 100%;
        label {
          height: 100%;
          width: 100%;
          border-radius: 18px;
          text-align: center;
          border: 2px solid #707070;
          cursor: pointer;
          font-size: 12px;
          line-height: 12px;
          color: $black;
          overflow: hidden;

          p {
            padding: 28px;
          }
          img {
            height: 98px;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
          }
        }
        .action_buttons {
          display: flex;
          gap: 10px;
          font-size: 12px;
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
    }
  }

  .create_tp_attatchment {
    .show_attatchment_area {
      display: flex;
      gap: 10px;
      margin-bottom: 0.5rem;

      .add_button {
        label {
          cursor: pointer;
          height: 21px;
          width: 21px;
          background: #f1a655;
          border-radius: 4px;
          text-align: center;
          line-height: 20px;
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
      .attatchments_displaying_area {
        background: #ececec;
        border-radius: 4px;
        width: 100%;

        // height: 21px;
        .item {
          float: left;
          position: relative;
          height: 21px;
          line-height: 20px;
          .item_label {
            display: flex;
            gap: 5px;
            color: $black;
            align-items: center;
            border-radius: 4px;
            padding: 0 7px;
            cursor: pointer;
            .item_title {
              font-size: 11px;
              max-width: 95px;
              min-width: 50px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            &.active {
              background: $theme_color_v1;
            }
            &:hover {
              background: $theme_color_v1;
            }
          }
          .item_menu {
            position: absolute;
            padding: 10px;
            background: $white;
            right: 0;
            top: 100%;
            border-radius: 4px;
            z-index: 9999;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
            ul {
              padding: 0;
              margin: 0;
              li {
                font-size: 11px;
                margin-bottom: 5px;
                color: $black;
                padding: 0 5px;
                border-radius: 4px;
                cursor: pointer;
                &:hover {
                  background: #ececec;
                }
              }
            }
          }
        }
      }
    }
  }
}
