.falgun_app {
  .falgun_app_body {
    .falgun_app_sidebar {
      width: 73px;
      position: fixed;
      top: 56px;
      left: 0;
      bottom: 0;
      transition: 0.5s;
    }
    .falgun_app_content {
      padding: 11px 11px 0 11px;
      margin-left: 73px;
      background: $white;
      transition: 0.5s;
      height: calc(100vh - 56px);
      overflow-x: hidden;
    }

    /* Remove height and overflow when printing */
    @media print {
      .falgun_app_content {
        height: auto !important;
        overflow: visible !important;
      }
    }
  }
}
