.MainLayout-container {
  table-layout: unset !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  position: unset !important;
  border: 1px solid rgba(224, 224, 224, 1) !important;
}

